.el-select {
  --el-select-border-color-hover: var(--iux-border-color);
  --el-select-font-size: 0.875rem;
  --el-select-close-hover-color: var(--iux-border-color);
  --el-select-input-color: var(--iux-theme-font-color);
  --el-select-multiple-input-color: var(--iux-theme-font-color);
  --el-select-input-focus-border-color: var(--iux-border-color);
  --el-select-input-font-size: 0.875rem;
}
.el-select__wrapper {
  background-color: var(--iux-theme-background-color);
  box-shadow: var(--iux-select-border-color);
}

.el-select__wrapper.is-hovering {
  background-color: var(--iux-theme-background-color);
}

.el-select__placeholder {
  color: var(--iux-theme-font-color);
}

.el-input {
  --el-input-text-color: var(--iux-theme-font-color);
  --el-input-border: var(--iux-agGrid-border);
  --el-input-hover-border: var(--iux-input-border-color);
  --el-input-focus-border: var(--iux-input-border-color);
  --el-input-transparent-border: 0 0 0 0.0625rem transparent inset;
  --el-input-border-color: var(--iux-input-border-color);
  --el-input-border-radius: 0;
  --el-input-bg-color: var(--iux-theme-input-background-color);
  --el-input-icon-color: var(--el-text-color-placeholder);
  --el-input-placeholder-color: var(--el-text-color-placeholder);
  --el-input-hover-border-color: var(--iux-input-border-color-hover);
  --el-input-clear-hover-color: var(--iux-input-border-color-hover);
  --el-input-focus-border-color: var(--iux-input-border-color-hover);
  --el-input-width: 100%;
}
.el-table__body,
.el-table__footer,
.el-table__header {
  table-layout: fixed;
  border-collapse: separate;
  font-size: 0.8125rem;
  font-weight: 400;
}
.el-table {
  --el-table-border-color: var(--iux-agGrid-border-color);
  --el-table-border: var(--iux-agGrid-border);
  --el-table-text-color: var(--iux-theme-font-color);
  --el-table-header-text-color: var(--iux-agGrid-header-text-color);
  --el-table-row-hover-bg-color: var(--iux-agGrid-select-hover);
  --el-table-current-row-bg-color: var(--el-color-primary-light-9);
  --el-table-header-bg-color: var(--iux-agGrid-header-bg-color);
  --el-table-fixed-box-shadow: var(--el-box-shadow-light);
  --el-table-bg-color: var(--iux-agGrid-background-color);
  --el-table-tr-bg-color: var(--iux-agGrid-background-color);
  --el-table-expanded-cell-bg-color: var(--iux-agGrid-background-color);
  --el-table-fixed-left-column: inset 0.625rem 0 0.625rem -0.625rem
    rgba(0, 0, 0, 0.15);
  --el-table-fixed-right-column: inset -0.625rem 0 0.625rem -0.625rem
    rgba(0, 0, 0, 0.15);
  --el-table-index: var(--el-index-normal);
}
.el-button--primary.is-link,
.el-button--primary.is-plain,
.el-button--primary.is-text {
  --el-button-text-color: var(--iux-theme-link-color);
}
.el-button.is-link:hover {
  color: var(--iux-theme-font-color);
}
.el-button.is-link:focus {
  color: var(--iux-theme-font-color);
}
.el-select-dropdown .el-select-dropdown__item.is-disabled.selected {
  color: var(--iux-theme-font-color);
}
.el-select-dropdown__wrap {
  max-height: 17.125rem;
}
.el-select-dropdown__list {
  list-style: none;
  padding: 0.375rem 0;
  margin: 0;
  box-sizing: border-box;
}
.el-select-dropdown__header {
  padding: 0.625rem;
  border-bottom: 0.0625rem solid var(--el-border-color-light);
}
.el-select-dropdown__footer {
  padding: 0.625rem;
  border-top: 0.0625rem solid var(--el-border-color-light);
}
.el-select-dropdown__item.selected {
  color: var(--iux-theme-font-color) !important;
  background-color: var(--iux-select-selected-color) !important;
}
.el-select-dropdown__item.hover {
  color: var(--iux-theme-font-color) !important;
  background-color: var(--iux-agGrid-select-hover) !important;
}
.el-select-dropdown__empty {
  padding: 0.625rem 0;
  margin: 0;
  text-align: center;
  color: var(--iux-theme-font-color);
  font-size: var(--el-select-font-size);
}
.el-select {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 2rem;
}
.el-tabs--card > .el-tabs__header .el-tabs__nav {
  border-left: var(--iux-agGrid-border);
  border-top: var(--iux-agGrid-border);
  border-right: var(--iux-agGrid-border);
  border-radius: 0;
  box-sizing: border-box;
}

.el-tabs--card > .el-tabs__header .el-tabs__item {
  border-left: var(--iux-agGrid-border);
}

.el-tabs--card > .el-tabs__header {
  border-bottom: 0rem;
  height: var(--el-tabs-header-height);
}
.el-tabs__item {
  color: var(--iux-theme-font-color);
}

.el-tabs__item:hover {
  color: var(--iux-theme-font-color);
  cursor: pointer;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom: 0rem;
  color: var(--iux-button-text-color);
  background-color: var(--iux-input-tabs-color);
}
.el-tabs__header {
  padding: 0;
  position: relative;
  margin: 0;
}
.el-textarea__inner {
  position: relative;
  display: block;
  resize: vertical;
  padding: 0.3125rem 0.6875rem;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  color: var(--iux-theme-font-color);
  background-color: var(--iux-agGrid-background-color);
  background-image: none;
  box-shadow: var(--iux-select-border-color);
  border-radius: 0;
  transition: var(--el-transition-box-shadow);
  border: none;
}
.el-textarea {
  --el-input-text-color: var(--iux-theme-font-color);
  --el-input-border: var(--iux-agGrid-border);
  --el-input-hover-border: var(--iux-input-border-color-hover);
  --el-input-focus-border: var(--iux-input-border-color);
  --el-input-transparent-border: 0 0 0 0.0625rem transparent inset;
  --el-input-border-color: var(--iux-input-border-color);
  --el-input-border-radius: var(--el-border-radius-base);
  --el-input-bg-color: var(--el-fill-color-blank);
  --el-input-icon-color: var(--el-text-color-placeholder);
  --el-input-placeholder-color: var(--el-text-color-placeholder);
  --el-input-hover-border-color: var(--iux-input-border-color-hover);
  --el-input-clear-hover-color: var(--iux-input-border-color-hover);
  --el-input-focus-border-color: var(--iux-input-border-color-hover);
  --el-input-width: 100%;
}
.el-select {
  width: 100%;
}
.el-pagination {
  justify-content: center;
}
.el-button {
  --el-button-hover-text-color: var(--iux-theme-font-color);
  --el-button-hover-bg-color: #fff;
  --el-button-hover-border-color: var(--iux-input-border-color-hover);
}
.el-button + .el-button {
  margin-left: 0.1875rem;
}

.el-date-editor {
  --el-date-editor-daterange-width: 16rem;
  --el-input-bg-color: var(--iux-agGrid-background-color);
  --el-input-border-color: var(--iux-input-border-color);
  --el-input-focus-border: var(--iux-input-border-color-hover);
  --el-input-focus-border-color: var(--iux-input-border-color-hover);
}

.el-date-editor .el-range-input {
  color: var(--iux-theme-font-color);
}

.el-button--text {
  color: var(--iux-theme-link-color);
}

.el-picker-panel {
  background: var(--iux-theme-background-color);
  color: var(--iux-theme-font-color);
}

.el-text {
  color: var(--iux-theme-font-color);
}

.el-date-range-picker {
  --el-datepicker-active-color: var(--iux-theme-link-color);
  --el-datepicker-hover-text-color: var(--iux-input-tabs_border-color);
}

.el-pagination {
  --el-pagination-bg-color: var(--iux-agGrid-background-color);
  --el-pagination-button-disabled-bg-color: var(--iux-agGrid-background-color);
}

.el-select__popper.el-popper {
  background: var(--iux-select-option-bg);
}

.el-popper.is-light,
.el-popper.is-light > .el-popper__arrow:before {
  background: var(--iux-select-option-bg);
}

.el-select__wrapper.is-focused {
  box-shadow: var(--iux-select-border-color);
}

.el-select__wrapper.is-hovering:not(.is-focused) {
  box-shadow: var(--iux-select-border-color);
}

.el-select__wrapper.is-disabled {
  background-color: var(--iux-theme-disabled-select-color);
  box-shadow: var(--iux-select-border-color);
}

.el-input.is-disabled {
  background-color: var(--iux-theme-background-color);
  box-shadow: var(--iux-select-border-color);
}

.el-input__wrapper {
  background-color: var(--iux-theme-background-color);
  box-shadow: var(--iux-select-border-color);
}

.el-tag {
  background-color: var(--iux-theme-background-color);
  color: var(--iux-theme-font-color);
}

.el-select-dropdown__item {
  color: var(--iux-theme-font-color);
}

.el-select-dropdown__item.is-hovering {
  background-color: var(--iux-agGrid-select-hover);
}

.el-pager li.is-active,
.el-pager li:hover {
  color: var(--iux-pagination-current-page-color);
}

.el-link.el-link--primary {
  --el-link-text-color: var(--iux-theme-link-color);
  --el-link-hover-text-color: var(--iux-theme-link-color);
  --el-link-disabled-text-color: var(--iux-theme-link-color);
}

.el-checkbox__inner {
  background-color: var(--iux-theme-background-color);
}

.el-checkbox__inner:hover {
  border-color: var(--iux-input-border-color-hover);
}

.el-table__expand-icon {
  color: var(--iux-theme-link-color);
}
