/* 全局css */
.main-flex {
  display: flex;
}

.btn-icon > span > i {
  height: 0px;
  width: 0px;
}

.title-text {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif,
    "微软雅黑";
  margin: 10px;
  width: 40px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}

.main-input {
  display: inline-block;
  width: 85%;
}

.split {
  display: flex;
  border: 1px solid #cacaca;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.split-line {
  border-bottom: 1px solid #cacaca;
}

.non-init-button {
  margin-left: 3px;
}

.content-border {
  height: 900px;
  width: 40%;
  border: 1px solid #cacaca;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
}

.title {
  margin-bottom: 20px;
}

.main-input {
  display: inline-block;
  width: 85%;
}

.settled-input {
  width: 47%;
  margin-right: 20px;
  display: inline-block;
}

.changeable-input {
  width: 85%;
  margin-right: 20px;
  display: inline-block;
}

.settled-input-height {
  height: 32px;
}

.text-empty-margin {
  margin-left: 60px;
  height: 32px;
  display: flex;
  margin-bottom: 10px;
}

.text-with-select {
  margin-left: 60px;
  height: 40px;
}

.component-multiple-select {
  display: inline-block;
  width: 65%;
  margin-left: 20px;
  min-width: 220px;
}

.add-types-btn {
  width: 30px;
  height: 30px;
  margin-left: 60px;
  margin-bottom: 10px;
}

.add-types-btn:hover {
  width: 30px;
  height: 30px;
  margin-left: 60px;
  margin-bottom: 10px;
}

.add-types-btn > span > i {
  margin-left: 0px;
}

.gauge-outfit {
  margin-bottom: 20px;
}

.transform-btn-location {
  width: 20%;
  margin: auto;
}

.transform-btn {
  display: block;
  margin: 0 auto;
}

.preview-border {
  height: 900px;
  width: 40%;
  border: 1px solid #cacaca;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
}

.delete-btn {
  width: 32px;
  height: 32px;
  margin-top: 0px;
  margin-left: 10px;
}

.delete-btn:hover {
  width: 32px;
  height: 32px;
  margin-top: 0px;
  margin-left: 10px;
}

.delete-btn > span > i {
  margin-left: 0px;
}

.delete-btn-holder {
  width: 77px;
}

.split-line-top {
  border-top: 1px solid #cacaca;
  text-align: right;
}

.main-search-input {
  display: inline-block;
  width: 20%;
}

.right-btn {
  display: inline-block;
}

.search-btn {
  width: 32px;
  height: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.search-btn:hover {
  width: 32px;
  height: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.search-btn > span > i {
  margin-left: 0px;
}

.content {
  display: flex;
  flex-direction: column;
}


